<!-- reception.component.html -->

<h1>Reception</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Patient Information</h2>
      <p>
        <a routerLink="/reception/add-patient">Add Patient</a>
      </p>
      <p>
        <a routerLink="/reception/update-patient">Update Patient</a>
      </p>
      <p>
        <a routerLink="/reception/delete-patient">Delete Patient</a>
      </p>
    </div>
    <div class="col-6">
      <h2>Doctor Information</h2>
      <p>
        <a routerLink="/reception/add-doctor">Add Doctor</a>
      </p>
      <p>
        <a routerLink="/reception/update-doctor">Update Doctor</a>
      </p>
      <p>
        <a routerLink="/reception/delete-doctor">Delete Doctor</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Appointments</h2>
      <p>
        <a routerLink="/reception/make-appointment">Make Appointment</a>
      </p>
      <p>
        <a routerLink="/reception/view-appointment-details">View Appointment Details</a>
      </p>
      <p>
        <a routerLink="/reception/reschedule-appointment">Reschedule Appointment</a>
      </p>
      <p>
        <a routerLink="/reception/cancel-appointment">Cancel Appointment</a>
      </p>
    </div>
  </div>
</div>
