.doctor-page {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  h1, h2 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  label {
    margin-right: 10px;
  }

  input[type="text"] {
    padding: 5px;
    font-size: 10px;
    width: 200px;
    margin: 0.5rem;
  }

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
  button {
    background-color: #0097a7;
    color: white;
    border: none;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
  }
  button:hover{
    background-color: #04a0c7;
  }