.dashboard {
  display: flex;
  flex-direction: row
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0097a7;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar--minimized {
  width: 60px;
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sidebar__header h3 {
  margin: 0;
  font-size: 18px;
}

.sidebar__header button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.sidebar__nav {
  margin-top: 20px;
}

.sidebar__nav a {
  display: block;
  padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    
}

.sidebar__nav a:hover {
  background-color: #444;
}

.main-content {
  flex: 1;
  margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
  