<!-- home.component.html -->
<div class="header">
    <h1 class="header__title">Texascole Hospital</h1>
    <nav class="header__nav">
      <a [routerLink]="['/home/signin']">Sign In</a>
      <a [routerLink]="['/home/signup']">Sign Up</a>
    </nav>
  </div>
  
  <div class="hero">
    <h2 class="hero__title">Welcome to Texascole Hospital</h2>
    <p class="hero__subtitle">Where Your Health Comes First</p>
    <div class="hero__image-slider">
      <!-- image slider component -->
      <div class="slider">
        <div class="slide">
          <img src="https://plus.unsplash.com/premium_photo-1668087717008-bc6c6005c3ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZG9jdG9yc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="slide">
          <img src="https://media.istockphoto.com/id/513438487/photo/doctors-and-nurses-smiling-in-hospital-hallway.jpg?b=1&s=170667a&w=0&k=20&c=jsO4pM2BRMv0nLcz-_p_fu82KHWyMtaPds8csig64Xw=">
        </div>
        <div class="slide">
          <img src="https://images.unsplash.com/photo-1638202993928-7267aad84c31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRvY3RvcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="services">
    <h3 class="services__title">Our Services</h3>
    <ul class="services__list">
      <li class="services__item">Emergency Care</li>
      <li class="services__item">Primary Care</li>
      <li class="services__item">Surgery</li>
      <li class="services__item">Rehabilitation</li>
      <li class="services__item">Diagnostic Services</li>
    </ul>
  </div>
  
  <div class="doctors">
    <h3 class="doctors__title">Meet Our Doctors</h3>
    <div class="doctors__list">
      <!-- Your doctors component -->
    </div>
  </div>
  <div class="footer">
    <div class="footer__copyright">&copy; Texascole 2023</div>
    <nav class="footer__links">
      <a href="#">Contact</a>
      <a href="#">About</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
  